

/* Common styles for all types */
.callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.callout p:last-child {
    margin-bottom: 0;
}

/* Variations */
.callout-danger {
    background-color: #fdf7f7;
    border-color: #eed3d7;
}
.callout-danger h4 {
    color: #b94a48;
}
.callout-warning {
    background-color: #faf8f0;
    border-color: #faebcc;
}
.callout-warning h4 {
    color: #8a6d3b;
}
.callout-info {
    background-color: #f4f8fa;
    border-color: #bce8f1;
}
.callout-info h4 {
    color: #34789a;
}

.content{
    padding-top: 20px;
}

.list-group-item {
    padding: 7px 15px;
}
.label{
    padding: .5em .7em .6em;
}

.parameters tbody tr{
    border-top: 1px solid #dddddd;
    vertical-align: top;
}

.parameters tbody tr em{
    font-style: italic;
}

.parameters tbody tr code{
    color: #48484c;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    white-space: nowrap;
}