
.navbar {
    background: rgba(245, 245, 245, 1.00) !important;
    border-bottom-color: #99c !important;
    border-bottom-width: 4px !important;
    box-shadow: 0 .25em .25em rgba(0,0,0,.1) !important;
}
/* Custom styling for content columns*/
.item-description {


}

.item-example {
    padding-top: 15px;
    background: #292e33;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
}


.row {
    overflow: hidden !important;
}
.active{
    background: #098ebc;
    color: #fff !important;
}
.active a{
    background: #269abc;
    color: #fff !important;
}
.hljs{
    background:#292e33;
    border-radius: 4px;
}
pre {
    background-color: transparent;
    border: none;
    border-radius: 0px;
}
th {
    font-weight: normal;
}
.badge {
    color: #428bca;
    background-color: #fff;
}
section{
    padding-top: 40px;
    border-bottom: 1px solid #eee8d5;
    padding-bottom: 40px;
}
/*.letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 26px auto 0;
    min-height: 300px;
    padding: 0 24px 24px 24px;
    position: relative;
    width: 100%;
}
.letter:before, .letter:after {
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.letter:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}
.letter:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}*/
.letter{
    background: #fff;
    border: none;
    border-right: 4px solid #99c;
    border-bottom: 4px solid #99c;
    padding: 35px;
    box-shadow: .25em .25em .25em rgba(0,0,0,.1) !important;
}
.docs-nav {
    border-color: #a2a0a6;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
/*
.docs-nav {
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    background-color: #55bdae;
    border-color: #56545A;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
}

.docs-nav .navbar-collapse {
    border-color: #fff;
}
.navbar-brand{
    padding-right: 60px;
}
.navbar-brand:hover{
    color: #fff;
}

.docs-nav .navbar-brand {
    color: #fff;
}
.docs-nav .navbar-nav > li > a {
    color: #fff;
}
.docs-nav .navbar-nav > li > a:hover {
    color: #fff;
}
.docs-nav .navbar-nav > .active > a,
.docs-nav .navbar-nav > .active > a:hover {
    color: #55bdae;
    background-color: #fff;
}
.docs-nav .navbar-toggle {
    border-color: #fff;
    border-width: 2px;
}
.docs-nav .navbar-toggle:hover {
    background-color: #fff;
    border-color:  #fff;
}
.docs-nav .navbar-toggle .icon-bar {
    background-color: #fff;
    border-color:  #fff;
}
*/
.docs-nav .container{
    padding: 0 15px 0 25px;
    margin-left: 0px;
}
.docs-nav {
    max-height: 54px;
}

.shadow-separator{
    background: url(../img/shadow-separator.png) no-repeat;
    min-width: 981px;
    min-height: 68px;
}





