/* Custom navigation styling */
.navbar {
    background: rgba(245, 245, 245, 1.00) !important;
    border-bottom-color: #99c !important;
    border-bottom-width: 4px !important;
    box-shadow: 0 .25em .25em rgba(0,0,0,.1) !important;
}
.navbar-brand{
    margin-right: 32px;
}

.docs-nav {
    border-color: #a2a0a6;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
}

.docs-nav .container{
    padding: 0 15px 0 25px;
    margin-left: 0px;
}
.docs-nav {
    max-height: 54px;
}



/* Custom styling for content columns*/


.item-example h4{
    color: #eee;

    padding-left: 1em;
}

.row {
    overflow: hidden !important;
}

.hljs{
    background:#292e33;
    border-radius: 4px;
}
pre {
    background-color: transparent;
    border: none;
    border-radius: 0px;
}
th {
    font-weight: normal;
    background: #098ebc;
    color: #fff !important;
}
.badge {
    color: #428bca;
    background-color: #fff;
    box-shadow: 0 0em 1.1em rgba(4, 43, 145, 0.61);
}
section{
    border-bottom: 1px solid #eee8d5;
    padding-top: 40px;
    margin-top: -40px;
}
.letter{
    background: #fff;
    border: none;
}
[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
@media (min-width: 768px){
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}
.list-group-subitem{
    border: none;
}
.list-group-subitem a{
    padding-left: 20px;
    overflow: hidden;
}

.list-group .active{
    background: #5db6e8;
    background: -moz-linear-gradient(top,  #5db6e8 0px, #168eda 85%, #168eda 90%, #1d93dd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0px,#5db6e8), color-stop(85%,#168eda), color-stop(90%,#168eda), color-stop(100%,#1d93dd));
    background: -webkit-linear-gradient(top,  #5db6e8 0px,#168eda 85%,#168eda 90%,#1d93dd 100%);
    background: -o-linear-gradient(top,  #5db6e8 0px,#168eda 85%,#168eda 90%,#1d93dd 100%);
    background: -ms-linear-gradient(top,  #5db6e8 0px,#168eda 85%,#168eda 90%,#1d93dd 100%);
    background: linear-gradient(to bottom,  #5db6e8 0px,#168eda 85%,#168eda 90%,#1d93dd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5db6e8', endColorstr='#1d93dd',GradientType=0 );

    color: #fff !important;
    border-color:rgb(79, 107, 218);
}
.list-group .active a{
    color: #fff !important;
    font-weight: lighter;
}

.item-description {
    padding-right: 1em;
    /* You may want to take this two out */
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif !important;
    font-size: 13px;

}

.escape-navbar{
    padding-top: 60px;
    margin-top: -60px;

}

.item-example {
    padding-top: 15px;
    background: #292e33;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
}

.menu{
    overflow:auto;
}
/*TODO: Fix for responsive*/
.menu>ul{
    width:inherit;
    position:fixed;
    margin-top: 3px;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 5%;
}

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.content{
    padding-left: 20px;
    padding-top: 0;
    border-left: 1px solid #ddd;
}
/*
.docs-nav {
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    background-color: #55bdae;
    border-color: #56545A;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
}

.docs-nav .navbar-collapse {
    border-color: #fff;
}
.navbar-brand{
    padding-right: 60px;
}
.navbar-brand:hover{
    color: #fff;
}

.docs-nav .navbar-brand {
    color: #fff;
}
.docs-nav .navbar-nav > li > a {
    color: #fff;
}
.docs-nav .navbar-nav > li > a:hover {
    color: #fff;
}
.docs-nav .navbar-nav > .active > a,
.docs-nav .navbar-nav > .active > a:hover {
    color: #55bdae;
    background-color: #fff;
}
.docs-nav .navbar-toggle {
    border-color: #fff;
    border-width: 2px;
}
.docs-nav .navbar-toggle:hover {
    background-color: #fff;
    border-color:  #fff;
}
.docs-nav .navbar-toggle .icon-bar {
    background-color: #fff;
    border-color:  #fff;
}
*/

.shadow-separator{
    background: url(../img/shadow-separator.png) no-repeat;
    min-width: 981px;
    min-height: 68px;
}





