
.navbar {
    background: rgba(245, 245, 245, 1.00) !important;
    border-bottom-color: #99c !important;
    border-bottom-width: 4px !important;
    box-shadow: 0 .25em .25em rgba(0,0,0,.1) !important;
}
/* Custom styling for content columns*/
.hp-description {
    background: #f9f9f9;

}

.hp-example {

}



