
.navbar {
    background: rgba(245, 245, 245, 1.00) !important;
    border-bottom-color: #99c !important;
    border-bottom-width: 4px !important;
    box-shadow: 0 .25em .25em rgba(0,0,0,.1) !important;
}
/* Custom styling for content columns*/
.hp-description {


}

.hp-example {
    padding-top: 20px;
    background: rgba(186, 218, 228, 0.38);
    padding-bottom: 1000px;
    margin-bottom: -1000px;
}

.row {
    overflow: hidden !important;
}






