SetEnv PHP_VER 5_4
SetEnv REGISTER_GLOBALS 0
SetEnv cache_control public
SetEnv SESSION_USE_TRANS_SID 0 

Options

AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html|
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/x-httpd-php

## cache images for 1 month, do not require revalidation
#<FilesMatch "\.(gif|jpe?g|png|flv|swf|ico|mp3|mp4)$">
#Header set Cache-Control: "max-age=1296000"
#</FilesMatch>

Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine On
#RewriteBase /

#####

# remove www on main

#RewriteRule ^(.*)/$ index.php?platform=$1&section=$2 [NE,L]
RewriteRule ^ index.php [L]

#RewriteRule ^(.*)/platform/(.*)/$ index.php?project=$1&platform=$2 [NE,L]
#RewriteRule ^platform/(.*)/version/(.*)$ index.php?platform=$1&version=$2 [NE,L]
#RewriteRule ^platform/(.*)/$ index.php?platform=$1 [NE,L]
#RewriteRule ^platform/(.*)$ index.php?platform=$1 [NE,L]
#RewriteRule ^thumb/(.*)_(.*)\.(.*)$ thumb.php?file=$1&size=$2&ext=$3 [L]
#RewriteRule ^thumb/(.*)_(.*)\.(.*)/?$ thumb.php?file=$1&size=$2&ext=$3 [L]
#RewriteRule ^(.*)/$ index.php?project=$1 [NE,L]
