#grad
{
background: -webkit-linear-gradient(red, blue); /* For Safari */
background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
background: linear-gradient(red, blue); /* Standard syntax */
}

body{
    background: #C6BCAC url('../img/slidelook2.png') repeat-x center top;
    margin: 0;
    padding: 0px;
    display: block;
        
    font-family: "Roboto", Arial, Helvetica, sans-serif !important;
    font-weight: normal;
    font-size: 23px;
    line-height: 24px;
    color: #837e77;
}

html, body { height: 100%; }
.section{
    width: 1020px;
    margin: 20px auto;
}
.top-slide {
    width: 100%;
    position: relative;
    max-height: 1050px;
    overflow: hidden;
    z-index: 1;
    top: 0;
    background: #C6BCAC url('../img/slidelook2.png') repeat-x center top;
}
#takeme{
    position: fixed;
}
.middle-slide{
    line-height: 30px;
}
.logo-header{
    background: url('../img/header-bg.png') no-repeat left center;
    width: 1020px;
    height: 110px;
    position: relative;
    z-index: 10;
    margin: 0px auto;
}

#site-logo {
    float: left;
    margin: 46px 0 0 31px;
}

#docs-logo{
    float: left;
    margin: 10px 0 0 20px;
}

#docs-content{
    display: block;
    height: 100%;
    min-height: 100%;
    background: #fff;
}

#top-bar{
    width: 100%;
    display: block;
    border-bottom: 1px solid #ccc;
    height: 66px;
    float:left;
    position: fixed;
    background: #f4f4f4 url('../img/bg.png');
}

#docs-logo .pagetitle,#site-logo .pagetitle {
    font-size: 11px;
    color: #eb7d2c;
    font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, sans-serif !important;
    font-weight: normal;
    top: 2px;
    position: relative;
    text-transform: uppercase;
}

.cool-box{
    border-radius: 10px;
    background: white;
    border: 1px solid #ccc;
    width: 978px;
    margin: 10px 0 60px 5px;

}

.credit-cards{
    background: #f9f7f8 url('../img/credit-card-pile.jpg');
    height: 238px;
}

.cool-box .title-text{
    color: #E70;
    font-size: 30px;
    padding:40px 0 0 20px;
}
.cool-box .body-text{
    color: #666;
    font-size: 20px;
    font-weight: 100;
    padding:20px 0 0 30px;
}
.cool-box  .body-button{
    float:left;
    margin-top: 68px;
    margin-left: 20px;
}
.pagebreak {
    width: 980px;
    height: 68px;
    background: url('../img/border-shadow.png') no-repeat center 0;
    z-index: 90;
    clear: both;
    margin-bottom: 30px;
    margin: 0 auto 30px;
}

.section .pagebreak {
    position: absolute;
    margin: 0;
    left: 50%;
    margin-left: -490px;
    bottom: -2px;
}

.lebenraum{
    margin: 10px;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #DEF !important;
}
.bs-docs-example:after{
    content: "Basic actions" !important;
}
.refund, .auth, .rev, .token, .cancel, .connect,
#php, #python, #ruby, #csharp, #scala {display: none;}
#php, #python, #ruby, #csharp, #scala , #java
{
    border: 1px solid #ccc;
    border-top: none;
    margin-top: -5px;
    padding-top: 22px;
}
#php p, #python p, #ruby p, #csharp p, #scala p, #java p{
    padding-left: 20px;
}
#menu {
    float:left;
    background: white;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    position: fixed;
    top: 67px;
    width: 236px;
    z-index: 100;
    border-right: 1px solid #ccc;
    height: 100%;
}

i{
    opacity: 0.6;
}
.nav-header {
    font-size: 15px;
    padding: 13px 0 0 10px;
}
.nav-list > li > a {
    padding: 6px 15px;
}
.nav-list > li > a .active{
    background-color:  #eb7d2c;
}
#docs-body{
    margin-left: 236px;
    min-width: 750px;
    background-color: #fff;
    font-size: medium;
    padding-top: 66px;
}

.single{
    padding:30px 120px;
    text-align: justify;
}

.two-col{}
.two-col-left{}
.two-col-right{}


